h1{
    padding: 50px;
    text-align: center;
}
h2{
    padding: 50px;
    text-align: center;
}
th ,td{
    text-align: center;
    border: 1px ;
    padding: 0.5rem;
   
  }
  tr:nth-child(even) {
    background-color: #D6EEEE;
  }
  table{
      width: 100%;
      padding: 5px;
  }
 form{
     text-align: center;
     
 }
 div1{
    background-color:rgb(49, 150, 175);
    padding: 4px 4px;
    cursor: pointer;
    
}
